<h1>Add a Book</h1>

<%= simple_form_for @new_book, :html => {:multipart => true} do |f| %>
  <% if @new_book.errors.any? %>
  <h2>Errors:</h2>
  <ul>
    <% @new_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :year %>
  <%= f.input :description %>
  <%= f.input :category %>

  <%= f.button :submit %>
<% end %>


